<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Course</title>
  </head>
  <body>
    <h1>Hello {{name}} from Course App</h1>
    <!-- <h2>Variable</h2>
    <h3>Name: {{name}}</h3>
    <h3>Duration: {{duration}}</h3>
    <h3>Seats: {{seats}}</h3> -->
{% comment %} 
    <h2>Filters</h2>
    <h3>Name: {{name|upper}}</h3>
    <h3>Desc: {{desc|truncatewords:3}}</h3>
    <h3>Desc: {{desc|upper|truncatewords:3}}</h3>

    <h3> {{name|lower}}</h3>
    <h3> {{name|capfirst}}</h3>
    <h3> {{name|default:"Nothing"}}</h3>
    <h3> {{name|length}}</h3>
    <h3> {{name|slice:"2"}}</h3>
    <h3> {{name|truncatechars:3}}</h3> {% endcomment %}

    {% comment %} <h2>Date Time : {{dt}} </h2>
    <h2>Date : {{dt|date}} </h2>
    <h2>Date : {{dt|date:'D d M Y'}} </h2>
    <h2>Date : {{dt|time}} </h2>
    <h2>Date : {{dt|time:'H:i'}} </h2>
    <h2>Date : {{dt|date:'SHORT_DATE_FORMAT'}} </h2>
    <h2>Date : {{dt|time:'TIME_FORMAT'}} </h2> {% endcomment %}

    {% comment %} <h2> Float Numbers </h2>
    <h3> {{p1}} </h3>
    <h3> {{p2}} </h3>
    <h3> {{p3}} </h3>

    <h3> {{p1|floatformat}} </h3>
    <h3> {{p2|floatformat}} </h3>
    <h3> {{p3|floatformat}} </h3>

    <h3> {{p1|floatformat:3}} </h3>
    <h3> {{p2|floatformat:3}} </h3>
    <h3> {{p3|floatformat:3}} </h3>

    <h3> {{p1|floatformat:0}} </h3>
    <h3> {{p2|floatformat:0}} </h3>
    <h3> {{p3|floatformat:0}} </h3>

    <h3> {{p1|floatformat:-3}} </h3>
    <h3> {{p2|floatformat:-3}} </h3>
    <h3> {{p3|floatformat:-3}} </h3> {% endcomment %}


    {% comment %} <h2> If Tag </h2>
    {% if nm%}
        <h3> Hello If Tag </h3>
    {% endif %} {% endcomment %}

    {% comment %} <h2> If Tag </h2>
    {% if nm%}
        <h3> Hello {{nm}} If Tag </h3>
    {% endif %} {% endcomment %}

    {% comment %} <h2> If Tag </h2> {% endcomment %}
    {% comment %} {% if nm and st%}
        <h3> Hello {{nm}} and {{st}} If Tag </h3>
    {% endif %}

    {% if nm or st%}
        <h3> Hello {{nm}} and {{st}} If Tag </h3>
    {% endif %} {% endcomment %}

    {% comment %} {% if not nm %}
        <h3> Hello {{nm}} and {{st}} If Tag </h3>
    {% endif %} {% endcomment %}

    {% comment %} {% if nm == 'Django' %}
        <h3> Hello {{nm}} and {{st}} If Tag </h3>
    {% endif %} {% endcomment %}

    {% comment %} {% if nm == 'Django' and st == 5 %}
        <h3> Hello {{nm}} and {{st}} If Tag </h3>
    {% endif %} {% endcomment %}
    
    {% comment %} {% if nm|length >= 4 %}
        <h3> Hello {{nm}} and {{st}} If Tag </h3>
    {% endif %} {% endcomment %}

    {% comment %} <h2> If-else </h2> {% endcomment %}

    {% comment %} {% if nm == 'Django' %}
        <h3> Name : {{nm}} </h3>
        {% else %}
        <h3> Seats : {{st}} </h3>
    {% endif %} {% endcomment %}
    
    {% comment %} {% if nm == 'Django' %}
        <h3> Name : {{nm}} </h3>
        {% elif nm == 'django' %}
        <h3> Seats : {{st}} </h3>
        {% else %}
        <h3> Nothing worked </h3>
    {% endif %} {% endcomment %}

    {% comment %} <h2> For Loop </h2> {% endcomment %}
    {% comment %} <ul>
        {% for name in names %}
            <li>{{name}}</li>
        {% endfor %}    
    
    </ul> {% endcomment %}

    {% comment %} <ul>
        {% for name in names reversed%}
            <li>{{name}}</li>
        {% endfor %}    
    
    </ul> {% endcomment %}

    {% comment %} <ul>
        {% for name in names %}
            <li>{{name}}</li>
            {% empty %}
            <h2> The iterable is empty </h2>
        {% endfor %}    
    
    </ul> {% endcomment %}

    {% comment %} <ul>
        {% for name in names %}
        {{forloop.counter}} {{name}} <br>
        {% endfor %}    
    
    </ul> {% endcomment %}

    {% comment %} <h3> {{student}} </h3>
    <h3> {{student.stu1}} </h3>
    <h3> {{student.stu1.name}} </h3> {% endcomment %}

    {% comment %} <h3> {{student}} </h3> {% endcomment %}
        {% comment %} {% for key,val in student.items %}
            <h3> Key : {{key}} </h3>
            <br>
            <h3> Value : {{val}} </h3> 
        {% endfor %} {% endcomment %}

    {% comment %} <h3> {{ student }}</h3>
    {% for key,val in student.items %}
        <h3> {{key}} -- {{val}}
            {% for k , v in val.items %}
                <h3> k: {{k}} </h3>
                <h3> v: {{v}} </h3>
            {% endfor %}
    {% endfor %} {% endcomment %}

    {% for key,val in student.items %}
            {% for k , v in val.items %}
            {{forloop.parentloop.counter}} {{k}} = {{v}} <br>
            {% endfor %}
    {% endfor %}

  </body>
</html>
